.galeria-principal {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
  }
  
  .galeria-miniatura {
    width: 100%;
    height: 100px;
    object-fit: cover;
    border-radius: 8px;
  }
  